
<%- include('layouts/header.ejs') %>
 
<h2 class="mb-4">Hii, <%= user.name %></h2>
 <div class="row">
     <div class="col-md-4">
        <ul class="list-group">
             <%  if(users.length > 0){

                for(let i=0; i <users.length; i++){
                 %>
                    <li class="list-group-item list-group-item-dark cursor-pointer user-list" data-id="<%= users[i]['_id'] %>">
                        <img src="<%= 'http://127.0.0.1:3000/'  +users[i]['image']%>" alt="" height="50px" width="50px"> 
                        <%= users[i]['name'] %>

                        <%
                           if(users[i ]['is_Online'] == 1){
                            console.log('is_Online');
                                %>
                                    <sup class="online-status" id="<%= users[i]['_id'] %>-status">Online</sup>
                                <%
                           }
                           else{
                                %>
                                 <sup class="offline-status" id="<%= users[i]['_id'] %>-status">Offline</sup>    
                               <%   
                           }
                        
                        %>
                    </li> 
                    
                <%

               } 
             } %>
        </ul>
     </div>
     <div class="col-md-8">
        
            <h3 class="start-head">Click to  Start the Chat</h3>
               <div class="chat-section">

                   <div id="chat-container">
                         
                    </div>
                     
                    <form action="" id="chat-form">
                        <input type="text" name="message" placeholder="Enter Message" id="message" class="border" required>
                         <button class="button"><img src="https://cdn-icons-png.flaticon.com/256/3814/3814305.png" alt="" height="30px" width="30px"></button>
                        
                    </form>
                                              
               </div>
     </div>
</div>

<script>
     var sender_id='<%= user._id %>';
     var receiver_id;
 
     
     var socket=io('/user-namespace',{
        auth:{
            token:'<%= user._id %>'
        }
     });

     
    $(document).ready(function(){
        $('.user-list').click(function(){
         var userId= $(this).attr('data-id');
         receiver_id=userId;


            $('.start-head').hide();
            $('.chat-section').show();

            socket.emit('existsChat',{ sender_id:sender_id,receiver_id:receiver_id});
        });
    });
    
    // update user online -status
    socket.on('getOnlineUser',function(data){
        $('#'+data.user_id+'-status').text('Online');
        $('#'+data.user_id+'-status').removeClass('offline-status');
        $('#'+data.user_id+'-status').addClass('online-status');
    });

    // update user offline-status 
    socket.on('getOfflineUser',function(data){
        $('#'+data.user_id+'-status').text('Offline');
        $('#'+data.user_id+'-status').addClass('offline-status');
        $('#'+data.user_id+'-status').removeClass('online-status');
    });

    // chat save for user
    $('#chat-form').submit(function(event){
        event.preventDefault();

       var message= $('#message').val();
 
       $.ajax({
        url:'/save-chat',
        type:'POST',
        data:{sender_id:sender_id,receiver_id:receiver_id,message:message},
        success:function(response){
            if(response.success){
                console.log(response.data.message)
                   $('#message').val('');
                let chat=response.data.message;
                let html =`
                <div class="user1">
                   <h5>`+chat+`</h5>
                </div>
                `;
                $('#chat-container').append(html);
                socket.emit('newChat',response.data);
                scrollChat();
            }
            else{
                alert(data.msg)
            }
        }
       });
    });

    socket.on('loadNewChat',function(data){
        if(sender_id == data.receiver_id && receiver_id  == data.sender_id){
            let html=`
            <div class="user2">
              <h5>`+data.message+`</h5>
            </div>
            `;
            $('#chat-container').append(html);
        }
        scrollChat();
    });
    
    // load chats
    socket.on('loadChats',function(data){
        $('#chat-container').html('');

       var chats= data.chats;

       let html='';

       for( let x=0 ; x < chats.length; x++){

          let addClass='';
          if(chats[x]['sender_id']== sender_id){
             addClass='user1';

          }
          else{
            addClass='user2';
          }
          html +=`
          <div class='`+addClass+`'>
            <h5>`+chats[x]['message']+`</h5>
          </div>
          `;
       }
       $('#chat-container').append(html);

       scrollChat();

    });
     
    function scrollChat(){
        $('#chat-container').animate({
            scrollTop:$('#chat-container').offset().top + $('#chat-container')[0].scrollHeight
        },0);
    }
</script>
<%- include('layouts/footer.ejs') %> 